.nav-option {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #0f0f0f !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}
